node_modules
run_scripts_prod.md
command.md

export_env.sh

.env
*.prod.env

.mainnet.env
.sepolia.env

.tokenkit_mainnet.env
.tokenkit_sepolia.env


.mainnet.prod.env
.sepolia.prod.env

.tokenkit_mainnet.prod.env
.tokenkit_sepolia.prod.env